# IP should be your private one for localhost (in network settings for mac)
MY_IP=''
PORT=7000

DB_HOST='127.0.0.1'
DB_PORT=3306
DB_USERNAME='root'
DB_PASSWORD=''
DB_NAME='techxchange'

# Firebase Config
FIREBASE_API_KEY=''
FIREBASE_AUTH_DOMAIN=''
FIREBASE_PROJECT_ID=''
FIREBASE_STORAGE_BUCKET=''
FIREBASE_MESSAGING_SENDER_ID=''
FIREBASE_APP_ID=''

#GOOGLE PLACES API
GOOGLE_PLACES_WEB_API=''


TEST='this is test env'


